.bundle/
log/*.log
pkg/
vendor/engines
.rvmrc
.powrc
.ruby-version
spec/dummy/db/*.sqlite3*
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy/.rvmrc
spec/dummy/.env
spec/dummy/public/system/
Gemfile.lock
tmp/
.rbenv-gemsets
