<li>
  <div class="thumbnail clearfix">
    <%= link_to "<img src=\"#{asset.file.thumb("170x114#").url}\" width=\"170\" height=\"114\" alt=\"\">".html_safe, asset.file.url %>
    <div class="name"><strong><%= asset.name %></strong></div>
    <div class="pull-right">
      <%= link_to "Edit", [:edit, asset], :class => "btn btn-mini" %>
      <%= link_to "Delete", asset, :class => "btn btn-mini btn-danger", :method => :delete, :confirm => "Are you sure?" %>
    </div>
  </div>
</li>
