<% @assets.each_with_index do |asset, index| %>
  <%= semantic_form_for asset, remote: true, html: { id: "presigned-upload-form-#{index}", class: "presigned-upload-form form-inline", data: { asset_id: "#{asset.id}"} } do |form| %>
    <div class="hidden"><%= form.attachment_field :file, direct: true, presigned: true %></div>
    <div class="col-md-2 preview">&nbsp;</div>
    <div class="col-md-4"><%= form.input :name %></div>
    <div class="col-md-3"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0;"></div></div></div>
    <div class="col-md-3"><%= form.action :submit, label: "Save", button_html: { class: "btn btn-sm btn-success" } %></div>
  <% end %>
<% end %>