<%= form_tag do %>
  <fieldset class="inputs">
    <%= file_field_tag :files, multiple: true, id: 'upload-files' %>
  </fieldset>
<% end %>

asdfasdf

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="progress-bar" style="width: 0%"></div></div>
</div>
</script>
