<% content_for :title, "Assets" %>

<div class="well" id="asset-upload">
  <h2>Upload file</h2>
  <p>
    <%= link_to "Choose Files", '#', id: 'choose-files', class: "btn btn-default", data: { presigned_fields_url: presigned_fields_assets_path(format: :js) } %>
    <%= button_tag "Save all", id: "save-all-assets", onclick: "javascript:save_all_assets()", data: { disable_with: "Waiting for the images to upload..." }, disabled: true, class: "btn btn-success" %>
  </p>
  <div id="asset-upload-files" class="table table-striped">
  </div>
</div>

<%= paginate @assets %>

<div class="thumbnails row" id="asset-thumbnails">
  <%= render @assets %>
</div>
