<% content_for :title, "Assets" %>

<div class="well">
  <h2>Upload file</h2>
  <%= link_to "Choose Files", '#', id: 'choose-files' %>
  <%#= render :partial => "upload_form" %>
  <%#= render partial: 'form' %>
</div>

<%= paginate @assets %>

<div class="thumbnails row" id="asset-thumbnails">
  <%= render @assets %>
</div>
