<% content_for :title, "Assets" %>

<div class="well" id="asset-upload">
  <h2>Upload file</h2>
  <%= link_to "Choose Files", '#', id: 'choose-files' %>
  <%= smithy_asset_file_field() %>
  <table id="asset-upload-table" class="table table-striped">
  </table>
</div>

<%= paginate @assets %>

<div class="thumbnails row" id="asset-thumbnails">
  <%= render @assets %>
</div>
