<% content_for :title, "Assets" %>

<div class="well">
  <h2>Upload files</h2>
  <%= render :partial => "upload_form" %>
  <p>If you are using Firefox, Safari or Chrome, you can just drag and drop some files onto this page</p>
</div>

<table id="assets">
  <%= paginate @assets %>
</table>

<div class="thumbnails row" id="asset-thumbnails">
  <%= render @assets %>
</div>
