<% content_for :title, "Assets" %>

<div class="well">
  <h2>Upload files</h2>
  <%= render :partial => "upload_form" %>
  <p>If you are using Firefox, Safari or Chrome, you can just drag and drop some files onto this page</p>
</div>

<%= paginate @assets %>

<ul class="thumbnails" id="asset-thumbnails">
  <%= render @assets %>
</ul>
