<header id="header">
  <h1>Smithy CMS</h1>
</header>
<div id="main-nav" class="navbar navbar-inverse">
  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "<i class=\"icon-sitemap\"></i> Manage Content".html_safe, pages_path %></li>
          <li><%= link_to "<i class=\"icon-book\"></i> Templates".html_safe, templates_path %></li>
          <li><%= link_to "<i class=\"icon-list-alt\"></i> Content Blocks".html_safe, content_blocks_path %></li>
        </ul>
        <ul class="nav pull-right">
          <li class="pull-right"><%= link_to "Settings", settings_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

