<% content_for :secondary_nav do %>
  <ul class="nav nav-list">
    <li class="nav-header">Content Blocks</li>
    <%= render @content_blocks %>
  </ul>

  <div class="btn-group actions pull-right">
    <%= link_to [:new, :content_block], :class => 'btn btn-inverse', :role => 'button' do %>
      <i class="fa fa-plus"></i> Add Content Block
    <% end %>
  </div>
<% end %>
