<% content_for :title, "System Cache" %>

<div class="hero-unit">
  <p>If your website is acting weird or your not seeing your updates, you may need to reset everything and clear the cache.</p>
  <p>
    <%= button_to "Clear the Cache", cache_path, :class => 'btn btn-primary btn-large', :method => :delete %>
  </p>
</div>
