<h1>Settings</h1>
<div class="hero-unit">
  <p>The settings in your application can affect various preferences in your website, from the title of your website to the type of editing experience you want to have.</p>
  <p>
    <%= link_to "Add Settings", new_setting_path, :class => 'btn btn-primary btn-large' %>
  </p>
</div>

<%= render @settings %>
