#asset-thumbnails>li { width:180px;
  .name { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
}

#asset-upload {
  #save-all-assets { display:none; }
  &.files-chosen #save-all-assets { display:inline-block; }

  #asset-upload-files {
    margin:10px 0;
    form {
      @extend .row; border-top:1px solid $table-border-color; padding:10px 0;
      &:nth-child(odd) { background-color: $table-bg-accent; }
      &.upload-success { }
      &.upload-failed { }

      .preview img { max-width:100%; max-height:170px; }
    }
  }

}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th { background:darken($table-bg-accent, 5%); }

#assets {
  .preview a {
    padding:5px; height:60px; width:60px; border:1px solid darken($table-bg-accent, 20%); display:block; position:relative; border-radius:3px;
    img { position:absolute; bottom:0; top:0; margin:auto; }
  }
}
