#asset-thumbnails>li { width:180px;
  .name { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
}

#asset-upload {
  #save-all-assets { display:none; }
  &.files-chosen #save-all-assets { display:inline-block; }

  #asset-upload-files {
    margin:10px 0;
    form {
      @extend .row; border-top:1px solid $table-border-color; padding:10px 0;
      &:nth-child(odd) { background-color: $table-bg-accent; }
      &.upload-success { }
      &.upload-failed { }

      .preview img { max-width:100%; max-height:170px; }
    }
  }

}