body { background:#444; padding:0; }

#header { border-bottom:1px solid #666; position:relative; top:0; z-index:-5;
  h1 {
    margin:0;
    padding:2px 8px;
    text-align:center;
    width:20%;
    img { max-width:100%; }
  }
}
#header {
  background: #333333; /* Old browsers */
  background: -moz-linear-gradient(top, #333333 0%, #222222 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#222222)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #333333 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #333333 0%,#222222 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #333333 0%,#222222 100%); /* IE10+ */
  background: linear-gradient(to bottom, #333333 0%,#222222 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
}
#main-nav {
  background:transparent;
  left:20%;
  right:0;
  position:absolute;
  top:0;
  z-index:5;

  .navbar-inner { background:transparent; border:0; padding-left:0;
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
  }
  .container { padding-top: 6px; }
}
@media (max-width: 979px) {
  #main-nav {
    .nav-collapse {
      background-color:#333;
    }
  }
}

#side {
  border-top:1px solid #393939; float:left; position:relative; width:20%;
  .actions { padding:16px 15px 0 15px ; }
  .nav-list {
    border-top:1px solid #393939;
    margin:16px 0 0 0;
    padding:0;
    .nav-list { margin:0; }
    li + .nav-header {
      margin-top:16px;
    }
    .nav-header {
      color:#DDD;
    }
    > li {
      border-top:1px solid #4e4e4e;
      border-bottom:1px solid #393939;
      color:#AAA;
    }
    > li > a,
    .nav-header {
      text-shadow: 0 1px 0 rgba(0,0,0,.5);
      margin:0;
      padding:8px 15px;
    }
    > li > a {
      background-color:transparent;
      color:#AAA;
    }
    > li > a:hover {
      background-color:#4f4f4f;
      color:#CCC;
    }
    > .active {
      background: #292929; /* Old browsers */
      background: -moz-linear-gradient(top, #292929 0%, #3a3a3a 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#292929), color-stop(100%,#3a3a3a));
      background: -webkit-linear-gradient(top, #292929 0%,#3a3a3a 100%);
      background: -o-linear-gradient(top, #292929 0%,#3a3a3a 100%);
      background: -ms-linear-gradient(top, #292929 0%,#3a3a3a 100%);
      background: linear-gradient(to bottom, #292929 0%,#3a3a3a 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#3a3a3a',GradientType=0 );
      > a,
      > a:hover{ background-color:transparent; }
    }
  }
}
#main { background:#f9f9f9; margin:-52px 0 0 20%; padding:0 0 24px 0; position:relative;
  -webkit-border-radius: 10px 0px 0px 10px;
          border-radius: 10px 0px 0px 10px;
  -webkit-box-shadow:  0px 0px 18px 0px rgba(0, 0, 0, 0.4);
          box-shadow:  0px 0px 18px 0px rgba(0, 0, 0, 0.4);
  > h1 { padding:24px 0 0 12px; }
  > .container-fluid { padding-right:0; }
  #content { border-right:1px solid #DDD; }
  #related {}
}

.wide #main {
  > .container-fluid { padding-right:20px; }
  #content { border-right:0; }
}

#main-wide { background:#f9f9f9; padding:0 0 24px 0; position:relative; }

#footer {
  color:#BBB; font-size:12px; text-align:right; padding:1em;
  a { color:#EEE; }
}
