#side .page-list {
  position:relative; overflow:hidden;
  .back { background:#444; }
  .back > a { border-top:1px solid #444; }
  .add-page a { color:#888; text-align:right; padding-right:45px; }

}

#side .page-list > li {
  position:relative;

  > .handle { color:#777; cursor:move; position:absolute; left:6px; top:50%; margin-top:-0.75em;
    &:hover { color:#DDD; }
  }
  > a.edit-page {
    padding:8px 28px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  > a.add-page {
    color:#666; padding:6px; position:absolute; right:0px; top:50%; margin-top:-1.25em;
    &:hover,
    &:active { background:transparent; color:#DDD; }
  }
  &.home > a {
    padding-left:6px;
  }
}
