<% content_for :secondary_nav do %>
  <div class="well" style="padding:4px 0;">
    <ul class="nav nav-list affix-top">
      <li class="nav-header">Templates</li>
      <%= render @templates %>
      <li class="nav-header">Includes</li>
      <%= render @includes %>
    </ul>
  </div>
  <div class="meta">
    <div class="template_types">
      <%= link_to "+", new_template_path, :class => 'dropdown-toggle btn btn-large', 'data-toggle' => 'template_types', 'data-target' => '#', :role => 'button' %>
      <ul class="dropdown-menu" role="menu">
      <% Tagcms::Template.types.each do |tt| %>
        <li><%= link_to tt.capitalize, new_template_path(:template => { :template_type => tt }) %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>
