<% content_for :title, "Site Content" %>

<div class="jumbotron">
<%- if @root.blank? -%>
  <p>Be the first to add a Page to your site. Pages are the building blocks for your site. A page's look and feel is defined by the templates that you choose for it.</p>
<% else %>
  <p>Add a page or select one from your left to edit.</p>
<% end %>
  <p>
    <%= link_to "Add Page", new_page_path, :class => 'btn btn-primary btn-lg' %>
  </p>
</div>

<%= render :partial => "page_nav" %>

<% content_for :related do %>
<% end %>
